@import'./buttons.css';

/*body {
    font-family: Comic Sans MS, Comic Sans, cursive;

    background-image: repeating-linear-gradient(
    -40deg,
    #C8AFE9 0px,
    #C8AFE9 20px,
    #FFCFE5 20px,
    #FFCFE5 40px);
}*/

body{
    font-family: Comic Sans MS, Comic Sans, cursive;
    animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg{
    0% {
        background: #ee6055;
    }
    25% {
        background: #60d394;
    }
    50% {
        background: #aaf683;
    }
    75% {
        background: #ffd97d;
    }
    100% {
        background: #ff9b85;
    }
    }

.wrapper{
    max-inline-size: 900px;
    margin: auto;
}

.player{
    margin-block-start: 100px;
    /*border-style: ;*/
    position: relative;
}

.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
    
}

.back-portada{
    color:black;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-title{
    color:white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;

}

.portada{
    color: white; 
    position: absolute;
    inset-block-start: 20px;
    inset-inline-start: 20px;
}

.player-actions{
    position: absolute;
    inset: 0;
    /*border: 10px solid blue;*/
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*z-index: 2;*/
}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display:flex;
    padding: 10px;
}

.player-progress input{
    flex: 1;
}

.player-overlay{
    position:absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay{
    opacity: 1;
}